[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlrd = "*"
pytest = "*"
openpyxl = "*"
flask = "*"
flask-mysql = "*"
sqlalchemy = "*"
numpy = "*"
greenlet = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.7"
